.products{
    display: flex;
}

.products-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  50px;
}

.products-wrapper{
    margin: 70px;
}

.products-wrapper > div img{
   width: 100%;
   max-width: 300px;
   height: 300px;
   object-fit: contain;
}

.single_product-wrapper > div{
    margin: 70px;
}